{% extends 'base2.html' %}
{% load static %}

{% block content %}

<div class="container-fluid" style="background-color:white;">
<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12 col-lg-6">
      <div class="card ext-dark bg-light">
        <div class="card-body pb-0">
          <h4 class="mb-0">{{ projects.count }}</h4>
          <a href="{% url "project_management_app:projects" %}" style="text-decoration: none;">
          <p>Projects</p>
        </a>
        </div>
       
        <!-- <div class="chart-wrapper px-3" style="height:70px;"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
        <canvas id="card-chart1" class="chart chartjs-render-monitor" height="70" width="248" style="display: block; width: 248px; height: 70px;"></canvas>
      </div> -->
      </div>
    </div>
    <!--/.col-->

    <div class="col-sm-12 col-lg-6">
      <div class="card ext-dark bg-light">
        <div class="card-body pb-0">
          <h4 class="mb-0">{{ tasks.count }}</h4>
          <a href="{% url "project_management_app:tasks" %}" style="text-decoration: none;">
          <p>Tasks</p>
        </a> 
        </div>
        <!-- <div class="chart-wrapper px-3" style="height:70px;"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
        <canvas id="card-chart2" class="chart chartjs-render-monitor" height="70" width="248" style="display: block; width: 248px; height: 70px;"></canvas>
      </div> -->
      </div>
    </div>
    <!--/.col-->
    {%if user.is_superuser%}
    <div class="col-sm-12 col-lg-6">
      <div class="card ext-dark bg-light">
        <div class="card-body pb-0">
          <h4 class="mb-0">{{ companies.count}}</h4>
          <a href="{% url "register_app:company" %}" style="text-decoration: none;">
          <p>Registered Company</p>
          </a>
        </div>
        <!-- <div class="chart-wrapper" style="height:70px;"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
        <canvas id="card-chart3" class="chart chartjs-render-monitor" height="70" width="280" style="display: block; width: 280px; height: 70px;"></canvas>
      </div> -->
      </div>
    </div>
 
    <!--/.col-->

    <div class="col-sm-12 col-lg-6">
      <div class="card text-dark bg-light">
        <div class="card-body pb-0">
        <h4 class="mb-0">{{ users.count }}</h4>
          <a href="{% url "register_app:users" %}" style="text-decoration: none;">
          <p>Registered Users</p>
          </a>
        </div>
        <!-- <div class="chart-wrapper px-3" style="height:70px;"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
        <canvas id="card-chart4" class="chart chartjs-render-monitor" height="70" width="248" style="display: block; width: 248px; height: 70px;"></canvas>
      </div> -->
      </div>
    </div>
    {%endif%}
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
{%if user.is_superuser%}
<div class="container my-5" style="width:800px;">
<canvas id="chart" width="500" height="300"></canvas>
</div>
{%endif%}
</div>




{% endblock %}

{%block javascript%}

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>
<script>
let ctx = document.getElementById("chart").getContext("2d");

let chart = new Chart(ctx, {
  type: "line",
  data: {
     labels: ["projects {{projects.count}}","tasks {{tasks.count}}","registered companies {{companies.count}}","registered users {{users.count}}"],
     datasets: [
        {
          // label:"project management",
          backgroundColor: [
            'yellow',
          ],
          borderColor: "black",
          data: [{{projects.count}},{{tasks.count}},{{companies.count}},{{users.count}}]
        }
     ]
  },
 options: {
          scales: {
            xAxes: [{
              display: true
            }],
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          }
        }
});
</script>

{%endblock%}